.Bdc\(borderColor\) {
  border-color: #BDBDBD;
}
.Bdw\(borderWidth\) {
  border-width: 2px;
}
.Bdrs\(4px\) {
  border-radius: 4px;
}
.Bg\(formColor\) {
  background: #2D9CDB;
}
.Bg\(\#247daf\)\:h:hover {
  background: #247daf;
}
.Bgi\(headerbg\) {
  background-image: url(../img/vwo.jpg);
}
.Bgc\(\#5c0f80\.7\) {
  background-color: rgba(92,15,128,.7);
}
.Bgr\(nr\) {
  background-repeat: no-repeat;
}
.C\(\#ffffff\) {
  color: #ffffff;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\)\:h:hover {
  cursor: pointer;
}
.D\(b\) {
  display: block;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(34px\) {
  font-size: 34px;
}
.Fz\(11px\) {
  font-size: 11px;
}
.H\(44px\) {
  height: 44px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.P\(inputPadding\) {
  padding: 14px;
}
.P\(paddingGutter\) {
  padding: 20px;
}
.Trs\(TrsBgc3sEase\) {
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
.W\(100\%\) {
  width: 100%;
}
.W\(188px\) {
  width: 188px;
}
@media screen and (min-width:586px) and (max-width:899px) {
  .Bgp\(mobileBgPos\)--sm {
    background-position: bottom -241px center;
  }
}
@media screen and (max-width: 899.99px) {
  .Bgz\(cv\)--maxSm {
    background-size: cover;
  }
  .H\(inputHtMobile\)--maxSm {
    height: 52px;
  }
  .Mx\(a\)--maxSm {
    margin-left: auto;
    margin-right: auto;
  }
  .My\(formLblMarginMobile\)--maxSm {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .Mt\(20px\)--maxSm {
    margin-top: 20px;
  }
  .Mt\(40px\)--maxSm {
    margin-top: 40px;
  }
  .Mend\(90px\)--maxSm {
    margin-right: 90px;
  }
  .Mb\(20px\)--maxSm {
    margin-bottom: 20px;
  }
  .Mb\(80px\)--maxSm {
    margin-bottom: 80px;
  }
  .Mb\(40px\)--maxSm {
    margin-bottom: 40px;
  }
  .Maw\(402px\)--maxSm {
    max-width: 402px;
  }
  .P\(20px\)--maxSm {
    padding: 20px;
  }
}
@media screen and (min-width: 900px) {
  .Bdrs\(5px\)--lg {
    border-radius: 5px;
  }
  .Bgc\(\#ffffff\)--lg {
    background-color: #ffffff;
  }
  .Bgz\(390px\)--lg {
    background-size: 390px;
  }
  .Bga\(l\)--lg {
    background-attachment: local;
  }
  .Bxsh\(mainDesktopBoxShadow\)--lg {
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.19);
  }
  .D\(f\)--lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Flf\(c\)--lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .Ai\(c\)--lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Jc\(c\)--lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .H\(inputHtLg\)--lg {
    height: 37px;
  }
  .Mt\(20px\)--lg {
    margin-top: 20px;
  }
  .Mt\(32px\)--lg {
    margin-top: 32px;
  }
  .Mt\(formLblMarginMobile\)--lg {
    margin-top: 14px;
  }
  .Mend\(40px\)--lg {
    margin-right: 40px;
  }
  .Mb\(20px\)--lg {
    margin-bottom: 20px;
  }
  .Mb\(formLblMarginDesktop\)--lg {
    margin-bottom: 5px;
  }
  .Maw\(262px\)--lg {
    max-width: 262px;
  }
  .Ov\(h\)--lg {
    overflow: hidden;
  }
  .P\(paddingGutter\) {
    padding: 20px 60px;
  }
  .W\(290px\)--lg {
    width: 290px;
  }
  .W\(350px\)--lg {
    width: 350px;
  }
}
