.Bdc\(borderColor\) {
  border-color: #BDBDBD;
}
.Bdw\(borderWidth\) {
  border-width: 2px;
}
.Bdrs\(4px\) {
  border-radius: 4px;
}
.Bg\(formColor\) {
  background: #2D9CDB;
}
.Bg\(\#247daf\)\:h:hover {
  background: #247daf;
}
.Bgi\(headerbg\) {
  background-image: url(../img/vwo.jpg);
}
.Bgc\(\#5c0f80\.7\) {
  background-color: rgba(92,15,128,.7);
}
.Bgc\(\#add8e6\) {
  background-color: #add8e6;
}
.Bgc\(\#ccc\) {
  background-color: #ccc;
}
.Bgz\(cv\) {
  background-size: cover;
}
.C\(\#ffffff\) {
  color: #ffffff;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\)\:h:hover {
  cursor: pointer;
}
.D\(b\) {
  display: block;
}
.D\(f\) {
  display: flex;
}
.D\(ib\) {
  display: inline-block;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fz\(11px\) {
  font-size: 11px;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(34px\) {
  font-size: 34px;
}
.H\(44px\) {
  height: 44px;
}
.My\(formLblMargin\) {
  margin-top: 14px;
  margin-bottom: 14px;
}
.Mt\(20px\) {
  margin-top: 20px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.P\(gutter\) {
  padding: 20px;
}
.P\(inputPadding\) {
  padding: 14px;
}
.Trs\(TrsBgc3sEase\) {
  transition: background-color .3s ease;
}
.W\(1\/3\) {
  width: 33.3333%;
}
.W\(100\%\) {
  width: 100%;
}
.W\(188px\) {
  width: 188px;
}
.W\(1\/2\) {
  width: 50%;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Cf {
  zoom: 1;
}
@media screen and (max-width: 585px) {
  .Bgz\(585px\)--xs {
    background-size: 585px;
  }
}
@media screen and (max-width: 899.99px) {
  .Bgp\(mobileBgPos\)--maxLg {
    background-position: bottom -240px center;
  }
  .H\(inputHtMobile\)--maxLg {
    height: 52px;
  }
  .Mx\(a\)--maxLg {
    margin-left: auto;
    margin-right: auto;
  }
  .Mt\(40px\)--maxLg {
    margin-top: 40px;
  }
  .Mend\(90px\)--maxLg {
    margin-right: 90px;
  }
  .Mb\(20px\)--maxLg {
    margin-bottom: 20px;
  }
  .Mb\(80px\)--maxLg {
    margin-bottom: 80px;
  }
  .Maw\(402px\)--maxLg {
    max-width: 402px;
  }
}
@media screen and (min-width: 900px) {
  .D\(f\)--lg {
    display: flex;
  }
  .Ai\(c\)--lg {
    align-items: center;
  }
  .Jc\(c\)--lg {
    justify-content: center;
  }
  .H\(inputHtLg\)--lg {
    height: 37px;
  }
  .Mt\(20px\)--lg {
    margin-top: 20px;
  }
  .Mend\(40px\)--lg {
    margin-right: 40px;
  }
  .W\(350px\)--lg {
    width: 350px;
  }
  .W\(290px\)--lg {
    width: 290px;
  }
}
